.footerMain {
  height: 400px;
  display: grid;
  grid-template-rows: 4fr 1fr;
  background-color: var(--baseclr-change);
}

.footer-bottom{
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--clr-base2);
}
