.profile-container {
  padding: 1vw 2vw;
  width: 100%;
}

.profile-desc {
  display: grid;
  position: relative;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 750px;
  gap: 5px;
  overflow: hidden;
}

.profile-desc .information {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #090909;
  z-index: 10000;
  top: -100%;
  transition: top 0.5s ease;
  background-color: #f8f9fa;
}

.information.show {
  top: 0;
}

.leftRightImg {
  height: 100%;
  width: 100%;
  border: 4px solid;
  overflow: hidden;
}
.leftRightImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.5s;
}

.leftRightImg img:hover {
  scale: 1.01;
}

.middle-desc {
  display: grid;
  position: relative;
  grid-template-rows: 1fr 2fr;
  gap: 2px;
  z-index: 2;
}

.middle-desc .lightup-btn {
  position: absolute;
  width: 4em;
  height: 4em;
  background-color: var(--clr-base);
  left: 50%;
  top: 34%;
  transform: translate(-50%, -50%);
  border: 5px solid;
  border-radius: 50%;
  z-index: 5;
}

.middle-desc .lightup-btn::after {
  content: "Light up the screen";
  position: absolute;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 0.5em;
  border-radius: 4px;
  font-size: 0.8em;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.2s;
  pointer-events: none; /* Ensures tooltip doesn't interfere with hover */
}

.middle-desc .lightup-btn:hover::after {
  opacity: 1; /* Shows the tooltip on hover */
}

.button {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 4px solid #090909;
  background-color: transparent;
  background-image: linear-gradient(145deg, #171717, #444245);
  box-sizing: border-box;
  box-shadow: inset 2px 2px 0 #7d7c7e, inset -2px -2px 0px #1c1c1c;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lightup-btn input {
  display: none;
}

.button::before {
  position: absolute;
  content: "";
  width: 4em;
  height: 4em;
  border-radius: inherit;
  background-color: transparent;
  background-image: linear-gradient(145deg, #262626, #606060);
  z-index: -1;
  box-shadow: 11px 11px 22px #141414, -11px -11px 22px #525252;
}

.button .icon {
  width: 30px;
  height: 30px;
  display: inline-block;
}

.button .icon svg {
  height: 100%;
  width: 100%;
  fill: #a5a5a5;
}

.lightup-btn input:checked + .button {
  box-shadow: inset -2px -2px 0 #5e5e5e, inset 2px 2px 0 #1c1c1c;
  border: 4px solid rgba(77, 124, 255, 0.281);
  animation: animeBorder 0.3s linear alternate-reverse infinite;
}

.lightup-btn input:checked + .button .icon svg {
  fill: rgb(77, 124, 255);
  animation: animeFill 0.3s linear alternate-reverse infinite;
}

@keyframes animeFill {
  to {
    fill: rgba(77, 124, 255, 0.642);
  }
}

@keyframes animeBorder {
  to {
    border-color: rgba(77, 124, 255, 0.137);
  }
}

.careerBanner {
  width: 100%;
  border: 10px solid;
  position: relative;
  z-index: 3;
}

.imageBanner {
  position: absolute;
  width: 100%;
  height: 100%;
}

.imageBanner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.careerBanner .bannerDesc {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 10;
}

.desc-posts {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 2px;
}

.desc-posts .post {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 10px solid;
  text-align: justify;
}

.desc-posts .post .comcicart {
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 100%;
}

.desc-posts .post .comcicart img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 1;
}

.comcicart .descritpion-rotate {
  position: absolute;
  color: var(--text-clr);
  background-color: var(--clr-base2);
  width: 100%;
  text-align: center;
  padding: 10px;
}

.academic-prof {
  margin-top: 25px;
}

.profile-tags {
  margin-top: 30px;
}

.post {
  position: relative;
  overflow: hidden; /* Ensures child elements are clipped */
}

.firstPost:hover .imgcover img {
  height: 100%;
  opacity: 0.5;
  filter: grayscale(0);
}

.text-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  z-index: 2;
  user-select: text;
  padding: 15px 20px;
  color: var(--clr-base2);
  background-color: var(--baseclr-change);
  opacity: 0;
  transform: translateY(300px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.comcicart:hover .text-overlay {
  opacity: 1;
  transform: translateY(0);
}

.text-overlay h3::selection {
  background-color: black;
}

.text-overlay .uowImg {
  height: 75%;
  width: 100%;
}

.filterproperty {
  filter: grayscale(100%);
  transition: all ease 0.3s;
}

.filterproperty:hover {
  filter: grayscale(0);
}

.stack-slider {
  height: 100px;
  width: 100%;
  background-color: #7d7c7e;
}
