.profile-container {
  padding: 1vw 2vw;
  width: 100%;
}

.profile-desc {
  display: grid;
  position: relative;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 750px;
  gap: 5px;
  overflow: hidden;
}

.profile-desc .information {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #090909;
  z-index: 10000;
  top: -100%;
  transition: top 0.5s ease;
  background-color: var(--clr-base);
  display: flex;
}

.information.show {
  top: 0;
}

.hideMap:hover{
color: #004280;}

.palestine-map {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 40%;
}

.palestine-about{
  height: 100%;
  width: 60%;
}

.leftRightImg {
  height: 100%;
  width: 100%;
  border: 4px solid;
  overflow: hidden;
}
.leftRightImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.5s;
}

.leftRightImg img:hover {
  scale: 1.01;
}

.middle-desc {
  display: grid;
  position: relative;
  grid-template-rows: 1fr 2fr;
  gap: 2px;
  z-index: 2;
}

.middle-desc .lightup-btn {
  position: absolute;
  width: 4em;
  height: 4em;
  background-color: var(--clr-base);
  left: 50%;
  top: 34%;
  transform: translate(-50%, -50%);
  border: 5px solid;
  border-radius: 50%;
  z-index: 5;
}

.middle-desc .lightup-btn::after {
  content: "Light up the screen";
  position: absolute;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 0.5em;
  border-radius: 4px;
  font-size: 0.8em;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.2s;
  pointer-events: none; /* Ensures tooltip doesn't interfere with hover */
}

.middle-desc .lightup-btn:hover::after {
  opacity: 1; /* Shows the tooltip on hover */
}

.button {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 4px solid #090909;
  background-color: transparent;
  background-image: linear-gradient(145deg, #171717, #444245);
  box-sizing: border-box;
  box-shadow: inset 2px 2px 0 #7d7c7e, inset -2px -2px 0px #1c1c1c;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lightup-btn input {
  display: none;
}

.button::before {
  position: absolute;
  content: "";
  width: 4em;
  height: 4em;
  border-radius: inherit;
  background-color: transparent;
  background-image: linear-gradient(145deg, #262626, #606060);
  z-index: -1;
  box-shadow: 11px 11px 22px #141414, -11px -11px 22px #525252;
}

.button .icon {
  width: 30px;
  height: 30px;
  display: inline-block;
}

.button .icon .btn-svg {
  height: 100%;
  width: 100%;
  fill: #a5a5a5;
}

.lightup-btn input:checked + .button {
  box-shadow: inset -2px -2px 0 #5e5e5e, inset 2px 2px 0 #1c1c1c;
  border: 4px solid rgba(77, 124, 255, 0.281);
  animation: animeBorder 0.3s linear alternate-reverse infinite;
}

.lightup-btn input:checked + .button .icon svg {
  fill: rgb(77, 124, 255);
  animation: animeFill 0.3s linear alternate-reverse infinite;
}

@keyframes animeFill {
  to {
    fill: rgba(77, 124, 255, 0.642);
  }
}

@keyframes animeBorder {
  to {
    border-color: rgba(77, 124, 255, 0.137);
  }
}

.careerBanner {
  width: 100%;
  border: 10px solid;
  position: relative;
  z-index: 3;
}

.imageBanner {
  position: absolute;
  width: 100%;
  height: 100%;
}

.imageBanner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.careerBanner .bannerDesc {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 10;
}

.desc-posts {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 2px;
}

.desc-posts .post {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 10px solid;
  text-align: justify;
}

.desc-posts .post .comcicart {
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 100%;
}

.desc-posts .post .comcicart img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 1;
}

.comcicart .descritpion-rotate {
  position: absolute;
  color: var(--text-clr);
  background-color: var(--clr-base2);
  width: 100%;
  text-align: center;
  padding: 10px;
}

.academic-prof {
  margin-top: 25px;
}

.profile-tags {
  margin-top: 30px;
}

.post {
  position: relative;
  overflow: hidden; /* Ensures child elements are clipped */
}

.firstPost:hover .imgcover img {
  height: 100%;
  opacity: 0.5;
  filter: grayscale(0);
}

.text-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  z-index: 2;
  padding: 15px 20px;
  color: var(--clr-base2);
  background-color: var(--baseclr-change);
  opacity: 0;
  transform: translateY(300px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.comcicart:hover .text-overlay {
  opacity: 1;
  transform: translateY(0);
}

.text-overlay .uowImg {
  height: 75%;
  width: 100%;
}

.filterproperty {
  filter: grayscale(100%);
  transition: all ease 0.3s;
}

.filterproperty:hover {
  filter: grayscale(0);
}

.stack-slider {
  height: 100px;
  width: 100%;
  background-color: #7d7c7e;
}

.skill-container {
  height: 100%;
  width: 100%;
}

.skill-container .techstackchoose {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 15px;
}

/* From Uiverse.io by 0xnihilism */
.brutalist-card {
  width: 100%;
  height: 400px;
  border: 4px solid var(--border-clr);
  background-color: var(--clr-base);
  padding: 1.5rem;
  box-shadow: 10px 10px 0 var(--border-clr);
  font-family: "Arial", sans-serif;
}

.brutalist-card__header {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
  border-bottom: 2px solid var(--text-clr);
  padding-bottom: 1rem;
}

.brutalist-card__icon {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--baseclr-change);
  padding: 0.5rem;
}

.brutalist-card__icon svg {
  height: 1.5rem;
  width: 1.5rem;
  fill: var(--clr-base2);
}

.brutalist-card__alert {
  font-weight: 900;
  color: var(--text-clr);
  font-size: 1.5rem;
  text-transform: uppercase;
}

.brutalist-card__message {
  margin-top: 1rem;
  color: var(--text-clr);
  font-size: 0.9rem;
  line-height: 1.4;
  border-bottom: 2px solid var(--text-clr);
  padding-bottom: 1rem;
  font-weight: 600;
}

.brutalist-card__actions {
  margin-top: 1rem;
  border-bottom: 2px solid;
}

.brutalist-card__button {
  display: block;
  width: 100%;
  padding: 0.75rem;
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  border: 3px solid var(--border-clr);
  background-color: #fff;
  color: #000;
  position: relative;
  transition: all 0.2s ease;
  box-shadow: 5px 5px 0 var(--border-clr);
  overflow: hidden;
  text-decoration: none;
  margin-bottom: 1rem;
}

.brutalist-card__button--read {
  background-color: #000;
  color: #fff;
}

.brutalist-card__button::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    120deg,
    transparent,
    rgba(255, 255, 255, 0.3),
    transparent
  );
  transition: all 0.6s;
}

.brutalist-card__button:hover::before {
  left: 100%;
}

.brutalist-card__button:hover {
  transform: translate(-2px, -2px);
  box-shadow: 7px 7px 0 #000;
}

.brutalist-card__button--mark:hover {
  background-color: #296fbb;
  border-color: #296fbb;
  color: #fff;
  box-shadow: 7px 7px 0 #004280;
}

.brutalist-card__button--read:hover {
  background-color: #ff0000;
  border-color: #ff0000;
  color: #fff;
  box-shadow: 7px 7px 0 #800000;
}

.brutalist-card__button:active {
  transform: translate(5px, 5px);
  box-shadow: none;
}

.brutalist-card__techstack {
  margin: 1rem 0 0 0;
  text-align: center;
}

path:hover{
  opacity: 0.6;
  fill: #444245;
}

@media (max-width: 1320px) {
  .skill-container .techstackchoose {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 770px) {
  .skill-container .techstackchoose {
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 500px) and (max-width: 1300px) {
  .leftRightImg {
    display: none;
  }

  .profile-desc {
    grid-template-columns: 1fr;
  }
}
