.rotate-your-device {
  display: none;
}
@media (max-width: 500px) {
  .display {
    display: none;
  }
  .rotate-your-device {
    width: 100%;
    display: block;
  }
}
@media (max-width: 900px) {
  .displayMedia {
    display: none;
  }
}

body {
  cursor: none;
}

/* Custom cursor styles */
/* Main cursor style */
.cursor {
  position: fixed;
  width: 54px;
  height: 54px;
  border: 2px solid var(--secondary-txt);
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 42423424232432;
  background: transparent; /* Transparent to focus on the crosshair */
  box-sizing: border-box; /* Ensures proper sizing for the crosshair */
  box-shadow: 0 0 10px rgba(128, 128, 128, 0.6);
  animation: pulseSize 0.3s infinite alternate;
}

.cursor::before {
  content: "";
  position: absolute;
  width: 3px; /* Adjust for desired size of the inner circle */
  height: 3px; /* Adjust for desired size of the inner circle */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%; /* Make it a circle */
  background: var(--secondary-txt); /* White color */
  animation: aimSize 0.2s infinite alternate;
}

@keyframes pulseSize {
  0% {
    width: 52px;
    height: 52px;
  }
  100% {
    width: 54px;
    height: 54px;
  }
}

@keyframes aimSize {
  0% {
    width: 4.5px;
    height: 4.5px;
  }
  100% {
    width: 3px;
    height: 3px;
  }
}
