.featured {
    font-family: 'AthenaFont', sans-serif;
    width: 100%;
    height: 350px;
    padding: 0 30px 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-top: 1px solid;
    margin-top: 2px;
}

.elems {
    /* background-color: #b3b3b3; */
    width: 33.33%;
    height: 100%;
    position: relative;
}

.featured .elems .elemMid{
    background-image: url('../../assets/images/git.png');
    background-size: contain;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    filter: grayscale(100%);
    transition: background-size 0.5s ease-in-out, filter 0.5s ease-in-out;
}

.featured .elems .elemMid:hover{
    background-size: 60%;
    filter: grayscale(5%);
}



/* .featured .elems:nth-of-type(2) {
    position: relative;
    padding: 20px;
    overflow: hidden;
    
}

.featured .elems:nth-of-type(2)::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../../assets/images/git.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(2px) grayscale(100%);
    z-index: 1;
    transition: filter 0.5s ease-in-out;
}

.featured .elems:nth-of-type(2):hover::before {
    filter: blur(0);
} */

.elems .elemMid {
    text-align: center;
    color: var(--text-clr);
    position: relative;
    z-index: 2;
    height: 85%;
    margin: 25px;
    padding: 0 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.elems .elemRL {
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 15px;
    justify-content: space-evenly;
    gap: 10px;
}

.elems .elemRL .elem1Img {
    height: 160px;
    width: 100%;
    border: 0.5px solid var(--border-clr);
    overflow: hidden;
    border-radius: 2px;
}

.elems .elemRL .elem1Img img{
    filter: blur(1px) grayscale(100%);
    object-fit: cover;
    height: 100%;
    width: 100%;
    transition: 0.5s;
}

.elems .elemRL p{
    text-align: justify;
}



.elems .elemMid .gitHead{
    font-size: 42px;
    font-family: 'BounesvaFont', sans-serif;
    transform: scaleY(1.8);
}

.elems .elemRL .elem1Img img:hover{
    filter: blur(0);
    scale: 1.2;
}


.elemMid::before,
.elemMid::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 75%;
    width: 1px;
    background-color: gray;
}

.elemMid::before {
    left: 0;
    /* Left border */
}

.elemMid::after {
    right: 0;
    /* Right border */
}

.elems .elemMid a {
    position: relative;
    text-decoration: none;
    /* Remove default underline */
}

.elems .elemMid a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 5px;
    width: 0;
    height: 2px;
    /* underline thickness */
    background-color: currentColor;
    /* Use link color */
    transition: width 0.3s ease-out;
}

.elems .elemMid a:hover::after {
    width: 100%;
}


.currentStatus{
    font-size: 15px;
    background-color: var(--current-clr);
    margin: 2px;
    border-radius: 5px;
    padding: 3px;
}

.elems .elemRL .elem3Img {
    height: 160px;
    width: 100%;
    border: 1px solid var(--border-clr);
    overflow: hidden;
    border-radius: 5px;
}

.elems .elemRL .elem3Img img {
    filter: blur(1px) grayscale(100%);
    object-fit: cover;
    height: 100%;
    width: 100%;
    transition: 0.5s;
}

.elems .elemRL .elem3Img img:hover {
    filter: blur(0);
    scale: 1.2;
}