
.slider{
    display: flex;
    justify-content: flex-start;
    background-color: var(--background-clr);
    overflow: hidden;
    /* border-top: 1px solid;
    border-bottom: 1px solid; */
}

.slider h2{
    font-size: 18px;
    color: transparent;
    color: var(--clr-base);
    white-space: nowrap;
    padding: 0.5rem 1rem;
    animation: move-rtl 20s linear infinite;
}

.slider h2 a{
    background-color: var(--clr-base2);
    color: var(--text-clr);
    padding: 5px;
    align-items: center;
    transition: all ease.5s;
}

.slider h2 a:hover{
    background-color: #25D366;
}

@keyframes move-rtl{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100%);
    }
}

.slider:hover h2{
    animation-play-state: paused !important;
}